<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>code</key>
        <dict>
            <key>code1</key>
            <string>FDA301994789E544D13021C6D52640B4</string>
            <key>code2</key>
            <string>694A1C14D9CF2E74A1D80595BA988F07</string>
            <key>code3</key>
            <string>0C08FBCCEEE3AA03ECF877915C3EE36D</string>
            <key>code4</key>
            <string>CF70685B373F6BAFE5038A4E848E5DE1</string>
        </dict>
        <key>agcgw</key>
        <dict>
            <key>backurl</key>
            <string>connect-drcn.hispace.hicloud.com</string>
            <key>url</key>
            <string>connect-drcn.dbankcloud.cn</string>
            <key>websocketbackurl</key>
            <string>connect-ws-drcn.hispace.dbankcloud.com</string>
            <key>websocketurl</key>
            <string>connect-ws-drcn.hispace.dbankcloud.cn</string>
        </dict>
        <key>agcgw_all</key>
        <dict>
            <key>CN</key>
            <string>connect-drcn.dbankcloud.cn</string>
            <key>CN_back</key>
            <string>connect-drcn.hispace.hicloud.com</string>
            <key>DE</key>
            <string>connect-dre.dbankcloud.cn</string>
            <key>DE_back</key>
            <string>connect-dre.hispace.hicloud.com</string>
            <key>RU</key>
            <string>connect-drru.hispace.dbankcloud.ru</string>
            <key>RU_back</key>
            <string>connect-drru.hispace.dbankcloud.ru</string>
            <key>SG</key>
            <string>connect-dra.dbankcloud.cn</string>
            <key>SG_back</key>
            <string>connect-dra.hispace.hicloud.com</string>
        </dict>
        <key>oauth_client</key>
        <dict>
            <key>client_id</key>
            <string>105691111</string>
            <key>client_type</key>
            <string>22</string>
        </dict>
        <key>configuration_version</key>
        <string>3.0</string>
        <key>app_info</key>
        <dict>
            <key>app_id</key>
            <string>243650030995540435</string>
            <key>package_name</key>
            <string>com.lucky.agc.demo</string>
        </dict>
        <key>client</key>
        <dict>
            <key>cp_id</key>
            <string>2850086000418583727</string>
            <key>product_id</key>
            <string>99536292102038468</string>
            <key>client_id</key>
            <string>838887937348223680</string>
            <key>client_secret</key>
            <string>[!00FCC840E7E96DE8FCB93D083018E1E538AFC0BABAC5675F0FEAFE299FCCBFCDEF1BF0E3620F6A2029F19C3A4D1AB6993B661DEE968E21E619AD30E775B7BB7F9F58B89EB21DCE3D70C0A7DDD6EE23399ECC81F36A1C4DA220F2EDA11D92045C97]</string>
            <key>project_id</key>
            <string>99536292102038468</string>
            <key>app_id</key>
            <string>243650030995540435</string>
            <key>api_key</key>
            <string>DAEDAGjY+unYDEB81zpfkav64kiAks1yMWG11Yf0OL3oxzB7DbQ5FwOfzD0aUfLU78cQEKTE0/47w3A4Id+t6fOx3XS8NiQuIsQDEQ==</string>
            <key>package_name</key>
            <string>com.lucky.agc.demo</string>
        </dict>
        <key>service</key>
        <dict>
            <key>analytics</key>
            <dict>
                <key>channel_id</key>
                <string/>
                <key>collector_url</key>
                <string>datacollector-drcn.dt.hicloud.com,datacollector-drcn.dt.dbankcloud.cn</string>
                <key>collector_url_cn</key>
                <string>datacollector-drcn.dt.hicloud.com,datacollector-drcn.dt.dbankcloud.cn</string>
                <key>collector_url_de</key>
                <string>datacollector-dre.dt.hicloud.com,datacollector-dre.dt.dbankcloud.cn</string>
                <key>collector_url_ru</key>
                <string>datacollector-drru.dt.dbankcloud.ru,datacollector-drru.dt.hicloud.com</string>
                <key>collector_url_sg</key>
                <string>datacollector-dra.dt.hicloud.com,datacollector-dra.dt.dbankcloud.cn</string>
                <key>resource_id</key>
                <string>p1</string>
            </dict>
            <key>search</key>
            <dict>
                <key>url</key>
                <string>https://search-drcn.cloud.huawei.com</string>
            </dict>
            <key>ml</key>
            <dict>
                <key>mlservice_url</key>
                <string>ml-api-drcn.ai.dbankcloud.com,ml-api-drcn.ai.dbankcloud.cn</string>
            </dict>
            <key>cloudstorage</key>
            <dict>
                <key>storage_url</key>
                <string>https://agc-storage-drcn.platform.dbankcloud.cn</string>
            </dict>
        </dict>
        <key>region</key>
        <string>CN</string>
    </dict>
</plist>
